@model IEnumerable<Portfolio_Website.Models.ProjectModel>

@{
    ViewData["Title"] = "Projects";
    var imageAlt = "";
    var logoAlt = "";
}

<h1>Projects</h1>

<div class="grid-container-general grid-container-d2 grid-column grid-row">
    <div class="grid-item gbody">
        <div class="text-left">
            <p>
                As a software developer, I've leveraged a diverse array of languages, scripts, and frameworks to create a range of projects, including those built with C++, C#, .NET Core, .NET Framework, ASP.NET, PHP, CSS3, HTML5, and JavaScript.
            </p>
                <p>
                Both within educational settings and beyond, I've dedicated time and effort to developing numerous projects that showcase my skills and expertise. These projects vary in scope and complexity; some manage specific aspects of larger systems, while others stand as fully functional applications ready for public use.

            </p>
        </div>
    </div>
    <div class="grid-item gnav thefix">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            @{
                                imageAlt = "image_id" + item.Id;
                            }
                            <img src="@Url.Content(item.Picture_Link)" alt="@imageAlt" class="projectImg">
                            <div class="bottom">
                                <h3>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h3>
                                <p class="Text-In-Box">
                                    @Html.DisplayFor(modelItem => item.Summary)
                                </p>
                            </div>
                        </div>
                        <div class="flip-card-back">


                            <p class="Text-In-Box">
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                            @{
                                logoAlt = item.Website + item.Id;
                            }
                            @if (item.Project_Link != "null")
                            {
                                <div class="bottom">
                                    <p class="Text-In-Box">
                                        <a href="@Url.Content(item.Project_Link)">
                                            <img src="@Url.Content(item.Logo)" alt="@logoAlt" class="websiteLogos">@Url.Content(item.Website)
                                        </a>

                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                </div>



            }
        </div>
    </div>
</div>