@model IEnumerable<Portfolio_Website.Models.WorkModel>

@{
    ViewData["Title"] = "Employment";
    var storedCompany = " ";
    var imageAlt = " ";
    var logoAlt = " ";
}

<h1>Employment</h1>

<div class="grid-container-general grid-container-d2 grid-column grid-row">
    <div class="grid-item gbody">
        <div class="text-left">
            <p>
                In addition to my software development endeavors, my professional journey encompasses a diverse range of roles and responsibilities. Notably, I have served as a Client Advisor, advancing to the position of Client Advisor Business Services with the Royal Bank of Canada. Concurrently, I've engaged in various labor services roles with the Government of Saskatchewan, alongside holding retail positions at several stores.
            </p>
                <p>
                These experiences have been instrumental in cultivating invaluable skills in client relations, honing my ability to engage in open discussions to discern client needs effectively. Furthermore, I've acquired adeptness in workflow management; ensuring tasks are executed within operating hours. Additionally, I've developed proficiency in directing and delegating tasks to colleagues, fostering a cohesive and efficient organizational environment.
            </p>
        </div>
    </div>
    <div class="grid-item gnav thefix">
        <div class="row">
            @foreach (var item in Model)
            {
                if (storedCompany == " " || storedCompany != item.Company)
                {
                    storedCompany = item.Company;
                    <div>
                        <div style="float:left;">
                            <h3 class="h3White">@Html.DisplayFor(modelItem => item.Company)</h3>
                        </div>
                        <div>
                            <hr style="height:5px;" class="headerLine" />
                        </div>
                    </div>
                }

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            @{
                                imageAlt = "image_id" + item.Id;
                            }
                            <img src="@Url.Content(item.Picture_Link)" alt="@imageAlt" class="workImg">
                            <div class="bottom">
                                <h3>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </h3>
                            </div>
                        </div>
                        <div class="flip-card-back">
                            <p class="Text-In-Box">
                                @Html.DisplayFor(modelItem => item.Time_Frame)
                            </p>
                            <p class="Text-In-Box">
                                @Html.DisplayFor(modelItem => item.Description)
                            </p>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
