@model IEnumerable<Portfolio_Website.Models.LinkModel>

@{
    ViewData["Title"] = "Links";
    var imageAlt = "";
    var logoAlt = "";
}

<h1>Links</h1>


<div class="grid-container-general grid-container-d2 grid-column grid-row">
    <div class="grid-item gbody">
        <div class="text-left">
            <p>
                Follow me on these sites to keep up with my work.
            </p>
        </div>
    </div>
    <div class="grid-item gnav thefix">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="flip-card">
                    <div class="none-flip-card-inner">
                        <div class="flip-card-front">
                            @{
                                imageAlt = "image_id" + item.Id;
                            }
                            <img src="@Url.Content(item.Picture_Link)" alt="@imageAlt" class="linkImg">
                            <div class="bottom">

                                <div class="bottom">
                                    <h3>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </h3>
                                    <a href="@Url.Content(item.Url)">
                                        <img src="@Url.Content(item.Picture_Link)" alt="@imageAlt" class="websiteLogos">@Html.DisplayFor(modelItem => item.Description)
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</div>