@model IEnumerable<Portfolio_Website.Models.SchoolModel>

@{
    ViewData["Title"] = "Education";
    var imageAlt = "";
}

<h1>Education</h1>


<div class="grid-container-general grid-container-d2 grid-column grid-row">
    <div class="grid-item gbody">
        <div class="text-left">
            <p>
                Earning a Bachelor of Science in Computer Science from the University of Regina is where I began to acquire a foundational for my skill set. Building upon this foundation, I pursued further advancement by enrolling in distance classes offered by the University of Calgary, with the goal of attaining a Certificate in .NET Application Development.
            </p>
                <p>
                Throughout my studies in computer science, I immersed myself in a comprehensive curriculum that equipped me with essential knowledge in software development methodologies, diverse programming languages, and practical project execution. These experiences provided me with a robust understanding of the fundamentals of software development and equipped me with the necessary tools to tackle complex challenges in the field.
            </p>
                <p>
                Beyond traditional academia, I have maintained an active role in expanding my skill set through personal projects. These endeavors serve as vital opportunities for continuous learning and growth, allowing me to stay current with evolving technologies and industry best practices.

            </p>
        </div>
    </div>
    <div class="grid-item gnav thefix">
        <div class="row">
            @foreach (var item in Model)
            {
                <div>
                    <div style="float:left;">
                        <h3 class="h3White">@Html.DisplayFor(modelItem => item.Degree)</h3>
                    </div>
                    <div>
                        <hr style="height:5px;" class="headerLine" />
                    </div>
                </div>
                <div>
                    <div style="float:left;">
                        <img src="@Url.Content(item.Picture_Link)" alt="img1">
                    </div>
                    <div>
                        <p>
                            @Html.DisplayFor(modelItem => item.School)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Time_Frame)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>